HTML {
	BACKGROUND: #fff; COLOR: #000
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
ADDRESS {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CAPTION {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CITE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CODE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
DFN {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
EM {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
STRONG {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
TH {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
VAR {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
LI {
	LIST-STYLE-TYPE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
Q:unknown {
	content: ''
}
Q:unknown {
	content: ''
}
ABBR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal
}
ACRONYM {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal
}
SUP {
	VERTICAL-ALIGN: text-top
}
SUB {
	VERTICAL-ALIGN: text-bottom
}
INPUT {
	FONT-FAMILY: inherit
}
TEXTAREA {
	FONT-FAMILY: inherit
}
SELECT {
	FONT-FAMILY: inherit
}
INPUT {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
LEGEND {
	COLOR: #000
}
DEL {
	TEXT-DECORATION: none
}
INS {
	TEXT-DECORATION: none
}
HTML {
	BACKGROUND: #333; FONT: 75%/1.5em Arial, sans-serif; COLOR: #fff
}
#container-outer {
	
}
#container {
	MARGIN: 0px auto 5em; WIDTH: 950px; POSITION: relative
}
#header {
	MARGIN-BOTTOM: 3em; OVERFLOW: hidden; WIDTH: 100%; POSITION: relative; HEIGHT: 6em
}
#content {
	OVERFLOW: hidden; POSITION: relative; HEIGHT: 50em
}
#footer {
	MARGIN-TOP: 2em; POSITION: relative; TEXT-ALIGN: center
}
#footer A {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: underline
}
#bookmarkthis {
	Z-INDEX: 999; LEFT: 0px; POSITION: absolute; TOP: 5.5em
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.5em; COLOR: #fff; FONT-FAMILY: Georgia, serif; BACKGROUND-COLOR: #333
}
H2 {
	FONT-SIZE: 1.2em; COLOR: #ccc; FONT-STYLE: italic; FONT-FAMILY: Georgia, serif
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.5em; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 1em; TEXT-TRANSFORM: uppercase; COLOR: #600; PADDING-TOP: 1em; FONT-FAMILY: Georgia, serif; BACKGROUND-COLOR: #eee
}
A:link {
	COLOR: #00f; TEXT-DECORATION: none; outline: none
}
A:visited {
	COLOR: #00f; TEXT-DECORATION: none; outline: none
}
A:hover {
	COLOR: #000
}
A:active {
	COLOR: #f00
}
UL {
	MARGIN: 1.5em 0px
}
OL {
	MARGIN: 1.5em 0px
}
DL {
	MARGIN: 1.5em 0px
}
UL UL {
	MARGIN: 0px
}
UL LI {
	LIST-STYLE-POSITION: outside; MARGIN-LEFT: 1.5em; LIST-STYLE-TYPE: circle
}
OL LI {
	LIST-STYLE-POSITION: outside; MARGIN-LEFT: 1.5em; LIST-STYLE-TYPE: decimal
}
DT {
	MARGIN-TOP: 1.5em; FONT-WEIGHT: bold
}
DD {
	MARGIN-BOTTOM: 1.5em
}
STRONG {
	FONT-WEIGHT: bold
}
EM {
	FONT-STYLE: italic
}
DEL {
	TEXT-DECORATION: line-through
}
INS {
	FONT-STYLE: italic
}
ABBR {
	CURSOR: help; BORDER-BOTTOM: #000 1px dotted
}
ACRONYM {
	CURSOR: help; BORDER-BOTTOM: #000 1px dotted
}
DFN {
	CURSOR: help; BORDER-BOTTOM: #000 1px dotted
}
CITE {
	FONT-STYLE: italic
}
Q {
	FONT-STYLE: italic
}
CODE {
	FONT-FAMILY: monospace
}
KBD {
	FONT-FAMILY: monospace
}
SAMP {
	FONT-FAMILY: monospace
}
VAR {
	FONT-FAMILY: monospace
}
TT {
	FONT-FAMILY: monospace
}
ADDRESS {
	MARGIN: 1.5em 0px
}
BLOCKQUOTE {
	MARGIN: 1.5em 0px
}
P {
	MARGIN: 1.5em 0px
}
PRE {
	MARGIN: 1.5em 0px
}
PRE {
	FONT-FAMILY: monospace
}
TABLE {
	MARGIN: 1.5em 0px; FONT: 1em/1.5em Arial, sans-serif
}
TH {
	FONT-WEIGHT: bold
}
FORM {
	MARGIN: 0px 0px 1.5em; WIDTH: 290px; TEXT-ALIGN: center
}
FIELDSET {
	PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0px; MARGIN-BOTTOM: 1.5em; PADDING-BOTTOM: 1px; PADDING-TOP: 0px; BACKGROUND-COLOR: #eee
}
LEGEND {
	FONT-WEIGHT: bold; FONT-FAMILY: Georgia, serif; TEXT-ALIGN: center
}
.textinput {
	DISPLAY: block; MARGIN: 1.5em 0px; OVERFLOW: hidden; WIDTH: 100%
}
.textinput .caption {
	COLOR: #333
}
.textinput INPUT {
	WIDTH: 90px
}
.textinput SELECT {
	WIDTH: 90px
}
.textinput TEXTAREA {
	WIDTH: 90px
}
.optioninput {
	WIDTH: 100%
}
.optioninput .caption {
	COLOR: #333
}
.optioninput .description {
	COLOR: #999
}
.optioninput INPUT {
	DISPLAY: block
}
.formbuttons {
	MARGIN: 1.5em 0px
}
.formbutton {
	FONT-SIZE: 1.2em
}
.formerror {
	FONT-WEIGHT: bold; COLOR: #f00
}
.formerror LI {
	MARGIN: 0px; LIST-STYLE-TYPE: none
}
OBJECT {
	DISPLAY: block; MARGIN: 1.5em 0px
}
HR {
	WIDTH: 80%; COLOR: #000; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BACKGROUND-COLOR: #000; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.tabs {
	
}
.tabs UL {
	MARGIN: 0px; LIST-STYLE-TYPE: none
}
.tabs LI {
	DISPLAY: inline; ZOOM: 1; POSITION: relative
}
.tabs A {
	DISPLAY: inline; ZOOM: 1
}
UL.dropdown {
	DISPLAY: none; Z-INDEX: 999; LEFT: 0px; MARGIN: 0px; WIDTH: 25em; POSITION: absolute; TOP: 100%
}
UL.dropdown UL.dropdown {
	DISPLAY: none; LEFT: 95%; TOP: 0px
}
.dropdown LI {
	DISPLAY: block; LIST-STYLE-TYPE: none; POSITION: relative
}
.dropdown A {
	DISPLAY: block
}
.column {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-1 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-2 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-3 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-4 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-5 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-6 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-7 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-8 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-9 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-10 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-11 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-12 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-13 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-14 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-15 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-16 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-17 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-18 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-19 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-20 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-21 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-22 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-23 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-24 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.last {
	MARGIN-RIGHT: 0px
}
DIV.last {
	MARGIN-RIGHT: 0px
}
.span-1 {
	WIDTH: 30px
}
.span-2 {
	WIDTH: 70px
}
.span-3 {
	WIDTH: 110px
}
.span-4 {
	WIDTH: 150px
}
.span-5 {
	WIDTH: 190px
}
.span-6 {
	WIDTH: 230px
}
.span-7 {
	WIDTH: 270px
}
.span-8 {
	WIDTH: 310px
}
.span-9 {
	WIDTH: 350px
}
.span-10 {
	WIDTH: 390px
}
.span-11 {
	WIDTH: 430px
}
.span-12 {
	WIDTH: 470px
}
.span-13 {
	WIDTH: 510px
}
.span-14 {
	WIDTH: 550px
}
.span-15 {
	WIDTH: 590px
}
.span-16 {
	WIDTH: 630px
}
.span-17 {
	WIDTH: 670px
}
.span-18 {
	WIDTH: 710px
}
.span-19 {
	WIDTH: 750px
}
.span-20 {
	WIDTH: 790px
}
.span-21 {
	WIDTH: 830px
}
.span-22 {
	WIDTH: 870px
}
.span-23 {
	WIDTH: 910px
}
.span-24 {
	MARGIN: 0px; WIDTH: 950px
}
.append-1 {
	PADDING-RIGHT: 40px
}
.append-2 {
	PADDING-RIGHT: 80px
}
.append-3 {
	PADDING-RIGHT: 120px
}
.append-4 {
	PADDING-RIGHT: 160px
}
.append-5 {
	PADDING-RIGHT: 200px
}
.append-6 {
	PADDING-RIGHT: 240px
}
.append-7 {
	PADDING-RIGHT: 280px
}
.append-8 {
	PADDING-RIGHT: 320px
}
.append-9 {
	PADDING-RIGHT: 360px
}
.append-10 {
	PADDING-RIGHT: 400px
}
.append-11 {
	PADDING-RIGHT: 440px
}
.append-12 {
	PADDING-RIGHT: 480px
}
.append-13 {
	PADDING-RIGHT: 520px
}
.append-14 {
	PADDING-RIGHT: 560px
}
.append-15 {
	PADDING-RIGHT: 600px
}
.append-16 {
	PADDING-RIGHT: 640px
}
.append-17 {
	PADDING-RIGHT: 680px
}
.append-18 {
	PADDING-RIGHT: 720px
}
.append-19 {
	PADDING-RIGHT: 760px
}
.append-20 {
	PADDING-RIGHT: 800px
}
.append-21 {
	PADDING-RIGHT: 840px
}
.append-22 {
	PADDING-RIGHT: 880px
}
.append-23 {
	PADDING-RIGHT: 920px
}
.prepend-1 {
	PADDING-LEFT: 40px
}
.prepend-2 {
	PADDING-LEFT: 80px
}
.prepend-3 {
	PADDING-LEFT: 120px
}
.prepend-4 {
	PADDING-LEFT: 160px
}
.prepend-5 {
	PADDING-LEFT: 200px
}
.prepend-6 {
	PADDING-LEFT: 240px
}
.prepend-7 {
	PADDING-LEFT: 280px
}
.prepend-8 {
	PADDING-LEFT: 320px
}
.prepend-9 {
	PADDING-LEFT: 360px
}
.prepend-10 {
	PADDING-LEFT: 400px
}
.prepend-11 {
	PADDING-LEFT: 440px
}
.prepend-12 {
	PADDING-LEFT: 480px
}
.prepend-13 {
	PADDING-LEFT: 520px
}
.prepend-14 {
	PADDING-LEFT: 560px
}
.prepend-15 {
	PADDING-LEFT: 600px
}
.prepend-16 {
	PADDING-LEFT: 640px
}
.prepend-17 {
	PADDING-LEFT: 680px
}
.prepend-18 {
	PADDING-LEFT: 720px
}
.prepend-19 {
	PADDING-LEFT: 760px
}
.prepend-20 {
	PADDING-LEFT: 800px
}
.prepend-21 {
	PADDING-LEFT: 840px
}
.prepend-22 {
	PADDING-LEFT: 880px
}
.prepend-23 {
	PADDING-LEFT: 920px
}
.border {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 4px; MARGIN-RIGHT: 5px
}
.colborder {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 24px; MARGIN-RIGHT: 25px
}
.pull-1 {
	MARGIN-LEFT: -40px
}
.pull-2 {
	MARGIN-LEFT: -80px
}
.pull-3 {
	MARGIN-LEFT: -120px
}
.pull-4 {
	MARGIN-LEFT: -160px
}
.pull-5 {
	MARGIN-LEFT: -200px
}
.pull-1 {
	FLOAT: left; POSITION: relative
}
.pull-2 {
	FLOAT: left; POSITION: relative
}
.pull-3 {
	FLOAT: left; POSITION: relative
}
.pull-4 {
	FLOAT: left; POSITION: relative
}
.pull-5 {
	FLOAT: left; POSITION: relative
}
.push-1 {
	MARGIN: 0px -40px 1.5em 40px
}
.push-2 {
	MARGIN: 0px -80px 1.5em 80px
}
.push-3 {
	MARGIN: 0px -120px 1.5em 120px
}
.push-4 {
	MARGIN: 0px -160px 1.5em 160px
}
.push-5 {
	MARGIN: 0px -200px 1.5em 200px
}
.push-1 {
	FLOAT: right; POSITION: relative
}
.push-2 {
	FLOAT: right; POSITION: relative
}
.push-3 {
	FLOAT: right; POSITION: relative
}
.push-4 {
	FLOAT: right; POSITION: relative
}
.push-5 {
	FLOAT: right; POSITION: relative
}
.prepend-top {
	MARGIN-TOP: 1.5em
}
.append-bottom {
	MARGIN-BOTTOM: 1.5em
}
.box {
	PADDING-RIGHT: 1.5em; PADDING-LEFT: 1.5em; BACKGROUND: #e5ecf9; MARGIN-BOTTOM: 1.5em; PADDING-BOTTOM: 1.5em; PADDING-TOP: 1.5em
}
.columns {
	OVERFLOW: hidden
}
.webdings {
	FONT-FAMILY: webdings
}
.ascii {
	DISPLAY: inline
}
.unicode {
	DISPLAY: none
}
.even {
	BACKGROUND-COLOR: #eee
}
.odd {
	BACKGROUND-COLOR: #ddd
}
.weak {
	COLOR: #999
}
.highcontext {
	MARGIN-TOP: -1.5em
}
.note {
	FONT-SIZE: 0.8em
}
.inline {
	DISPLAY: inline
}
.floatr {
	FLOAT: right
}
.floatl {
	FLOAT: left
}
.clearl {
	CLEAR: left
}
.clearr {
	CLEAR: right
}
.clearall {
	CLEAR: all
}
.warning {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; COLOR: #000; PADDING-TOP: 1em; BACKGROUND-COLOR: #ff9
}
.hide {
	DISPLAY: none
}
.page-break {
	PAGE-BREAK-BEFORE: always
}
#pageinfo {
	FONT-SIZE: 2em; Z-INDEX: 999; LEFT: 0px; WIDTH: 100%; LINE-HEIGHT: 1em; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
#pageerror {
	FONT-SIZE: 2em; Z-INDEX: 999; LEFT: 0px; WIDTH: 100%; LINE-HEIGHT: 1em; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
#pageinfo {
	COLOR: #000
}
#pageerror {
	COLOR: #f00
}
#header H1 {
	DISPLAY: inline; COLOR: #000; BACKGROUND-COLOR: #eee
}
#header H2 {
	DISPLAY: inline; COLOR: #000; BACKGROUND-COLOR: #eee
}
#header H2 {
	COLOR: #999
}
#header #webname {
	LINE-HEIGHT: 5em; HEIGHT: 5em; BACKGROUND-COLOR: #eee; TEXT-ALIGN: center
}
#header DIV {
	BORDER-BOTTOM: #222 2px solid
}
#conversionstab A {
	DISPLAY: block; FONT-SIZE: 2em; BACKGROUND: #000; COLOR: #fff; LINE-HEIGHT: 1.5em; FONT-STYLE: italic; FONT-FAMILY: Georgia, serif; HEIGHT: 1.5em; TEXT-ALIGN: center
}
#getcsstab A {
	DISPLAY: block; FONT-SIZE: 2em; BACKGROUND: #000; COLOR: #fff; LINE-HEIGHT: 1.5em; FONT-STYLE: italic; FONT-FAMILY: Georgia, serif; HEIGHT: 1.5em; TEXT-ALIGN: center
}
#helptab A {
	DISPLAY: block; FONT-SIZE: 2em; BACKGROUND: #000; COLOR: #fff; LINE-HEIGHT: 1.5em; FONT-STYLE: italic; FONT-FAMILY: Georgia, serif; HEIGHT: 1.5em; TEXT-ALIGN: center
}
#conversionstab A:hover {
	BACKGROUND-COLOR: #300
}
#getcsstab A:hover {
	BACKGROUND-COLOR: #300
}
#helptab A:hover {
	BACKGROUND-COLOR: #300
}
#header A.activeSlide {
	BACKGROUND-COLOR: #900
}
#header A.activeSlide:hover {
	BACKGROUND-COLOR: #900
}
#content H2 {
	PADDING-BOTTOM: 1em; BACKGROUND-COLOR: #333
}
.conversions {
	COLOR: #333; BORDER-BOTTOM: #222 2px solid; POSITION: relative; HEIGHT: 50em; BACKGROUND-COLOR: #fff
}
.conversions TABLE {
	TABLE-LAYOUT: fixed; LEFT: 10px; MARGIN: 0px; WIDTH: 290px; POSITION: absolute; TOP: 5em
}
.conversions TD {
	WIDTH: 25%; LINE-HEIGHT: 2em
}
.conversions TR {
	WIDTH: 25%; LINE-HEIGHT: 2em
}
.conversions FORM {
	LEFT: 10px; MARGIN: 0px; POSITION: absolute; TOP: 5em
}
.converted {
	DISPLAY: none
}
.default {
	FONT-WEIGHT: bold; COLOR: #fff; BACKGROUND-COLOR: #000
}
.hover {
	COLOR: #000; BACKGROUND-COLOR: #ccc
}
.hover.default {
	COLOR: #000; BACKGROUND-COLOR: #ccc
}
.base {
	COLOR: #fff; BACKGROUND-COLOR: #900
}
.base.default {
	COLOR: #fff; BACKGROUND-COLOR: #900
}
.hover.base.default {
	COLOR: #fff; BACKGROUND-COLOR: #900
}
#getcss {
	WIDTH: 950px; BORDER-BOTTOM: #222 2px solid; BACKGROUND-COLOR: #fff
}
#help {
	WIDTH: 950px; BORDER-BOTTOM: #222 2px solid; BACKGROUND-COLOR: #fff
}
#conversions {
	DISPLAY: none
}
#getcss {
	DISPLAY: none
}
#help {
	DISPLAY: none
}
#convertedtables {
	BACKGROUND: url(/images/choose.gif) #fff no-repeat 10px 50%
}
#generatedcss {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px; OVERFLOW: auto; BORDER-LEFT: #ccc 1px solid; WIDTH: 908px; COLOR: #333; PADDING-TOP: 10px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 42em; BACKGROUND-COLOR: #fff
}
#allaboutpxtoem {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px; OVERFLOW: auto; BORDER-LEFT: #ccc 1px solid; WIDTH: 908px; COLOR: #333; PADDING-TOP: 10px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 42em; BACKGROUND-COLOR: #fff
}
#generatedcss {
	WHITE-SPACE: pre
}
#results {
	LEFT: 10px; WIDTH: 290px; POSITION: absolute; TOP: 31em
}
#results H2 {
	COLOR: #333; BACKGROUND-COLOR: #fff
}
#results DIV {
	FONT-SIZE: 3em; TEXT-ALIGN: center
}
.basesize A {
	
}
UL#asseenon {
	MARGIN: 1.5em auto
}
UL#asseenon LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 1.5em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ccc; LINE-HEIGHT: 25px; PADDING-TOP: 0px; FONT-STYLE: italic; FONT-FAMILY: Georgia, serif; HEIGHT: 25px; BACKGROUND-COLOR: #333
}
UL#asseenon LI A {
	DISPLAY: block; BACKGROUND-IMAGE: url(/images/asseenon.jpg); BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px
}
UL#asseenon LI A SPAN {
	DISPLAY: none
}
#seennettuts A {
	BACKGROUND-POSITION: 0px 0px; WIDTH: 87px
}
#seensmashing A {
	BACKGROUND-POSITION: -87px 0px; WIDTH: 75px
}
#seencssglobe A {
	BACKGROUND-POSITION: -162px 0px; WIDTH: 102px
}
#seen100shiki A {
	BACKGROUND-POSITION: -264px 0px; WIDTH: 53px
}
#seenwebresources A {
	BACKGROUND-POSITION: -317px 0px; WIDTH: 112px
}
#seencreattica A {
	BACKGROUND-POSITION: -429px 0px; WIDTH: 167px
}
#seenbildirgec A {
	BACKGROUND-POSITION: -596px 0px; WIDTH: 185px
}
